#showcaseContainer {
  background-color: white;
  width: 100vw;
  height: 100vh;
  animation: bloom 3s linear;
  animation-play-state: paused;
}

.title {
  font-family: 'Jura', sans-serif;
  font-size: 150px;
  margin: 0px;
  padding: 20px 0px 0px 50px;
}

.subTitle {
  font-family: 'Jura', sans-serif;
  font-size: 100px;
  margin: 0px;
  padding: 0px 0px 20px 50px;
}

#showcase {
  padding: 20px 20px 20px 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#starryNight {
  border-radius: 10px;
  display: inline-block;
  animation: fadeIn 6s;
  object-fit: cover;
}

@keyframes bloom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}