#welcomePage {
  animation: slideUp 3s;
  animation-play-state: paused;
}

.welcome {
  font-family: 'Jura', sans-serif;
  font-size: 250px;
  margin: 0px;
  margin-bottom: 100px;
  padding: 20px 0px 20px 50px;
  animation: slideRight 4s ease forwards;
}

#startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#startButton {
  font-family: 'Jura', sans-serif;
  font-size: 50px;
  margin: 0px;
  border: black solid 3px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: transparent;
  animation: slideRight 4s;
}

#startButton:hover {
  cursor: pointer;
  font-weight: bold;
  border: black solid 5px;
}

#circle {
  position: relative;
  bottom: 175px;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  animation: circle 5s linear infinite;
}

.tile1 {
  width: 100vw;
  height: 25vh;
  animation: transition 1s;
  position: absolute;
  top: 0vh;
}
.tile2 {
  width: 100vw;
  height: 25vh;
  animation: transition 2s;
  position: absolute;
  top: 25vh;
}
.tile3 {
  width: 100vw;
  height: 25vh;
  animation: transition 3s;
  position: absolute;
  top: 50vh;
}
.tile4 {
  width: 100vw;
  height: 25vh;
  animation: transition 4s;
  position: absolute;
  top: 75vh;
}

@keyframes slideUp {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes transition {
  0% {
    transform: translateX(-100vw);
    background-color: black;
  }
  100% {
    transform: translateX(0vw);
    background-color: transparent;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-148px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-148px) rotate(-360deg);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}